<!doctype html>
<html lang="pt-br">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Hotel Barril do Chaves</title>
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/admin.css">
</head>

<body>

  <div class="container">

    <nav class="navbar navbar-expand-lg navbar-light bg-green">
      <a class="navbar-brand" href="/">Admin Hotel Barril do Chaves</a>
      <ul class="navbar-nav mr-auto">
        <!-- <li class="nav-item">
          <a class="nav-link" href="/about">A propos</a>
        </li> -->
        <li class="nav-item">
          <a class="nav-link" href="/hospedagens">Hospedagens</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/hospedes">Hóspedes</a>
        </li>
      </ul>
    </nav>
