<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <title>HBC</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
        integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/main.css">
    <script src="https://kit.fontawesome.com/dbed6b6114.js" crossorigin="anonymous"></script>
    <link rel="icon" href="images/logo.png" type="image/png">
</head>

<body>

    <!-- header -->
    <header class="header" id="header">
        <div class="head-top">
            <div class="site-name">
                <span>Bem vindo(a)</span>
            </div>
            <div class="site-nav">
                <span id="nav-btn">MENU <i class="fas fa-bars"></i></span>
            </div>
        </div>

        <div class="head-bottom flex">
            <h2>HOTEL BARRIL DO CHAVES</h2>
            <p>Um lugar nostálgico, feliz e confortável para se hospedar, desfrute dos nossos melhores serviços,
                trabalhamos sempre buscando o melhor com amor, carinho e dedicação. </p>
            <button type="button" class="head-btn"><i class="fas fa-arrow-down"></i>&nbsp;&nbsp; CONHEÇA &nbsp;&nbsp;<i
                    class="fas fa-arrow-down"></i></button>
        </div>
    </header>
    <!-- end of header -->

    <!-- side navbar -->
    <div class="sidenav" id="sidenav">
        <span class="cancel-btn" id="cancel-btn">
            <i class="fas fa-times"></i>
        </span>

        <ul class="navbar">
            <li><a href="#header">Inicio</a></li>
            <li><a href="#servicos">Serviços</a></li>
            <li><a href="#quartos">Quartos</a></li>
            <li><a href="#depoimentos">Clientes</a></li>
        </ul>
        <button class="btn sign-up" data-toggle="modal" data-target="#modalCadastroHospede">Cadastre-se</button>
        <a href="/login" class="btn log-in">Entrar</a>
    </div>
    <!-- end of side navbar -->

    <!-- fullscreen modal -->
    <div id="modal"></div>
    <!-- end of fullscreen modal -->

    <!-- body content  -->
    <section class="services sec-width" id="servicos">
        <div class="title">
            <h2>Serviços</h2>
        </div>
        <div class="services-container">
            <!-- single service -->
            <article class="service">
                <div class="service-icon">
                    <span>
                        <i class="fas fa-utensils"></i>
                    </span>
                </div>
                <div class="service-content">
                    <h2>Praça de alimentação</h2>
                    <p>Desfrute de nosso melhor cardápio, comidas típicas, conheça nosso tambaqui, gororoba, vatapá,
                        sobremesas, bebidas em geral, nosso ambiente climatizado conta com Wi-fi, música ao vivo,
                        higienizado, álcool gel, totalmente seguro e confortável para sua melhor alimentação.</p>
                </div>
            </article>
            <!-- end of single service -->
            <!-- single service -->
            <article class="service">
                <div class="service-icon">
                    <span>
                        <i class="fas fa-swimming-pool"></i>
                    </span>
                </div>
                <div class="service-content">
                    <h2>Área de lazer</h2>
                    <p>Dispõe de uma extensa área de lazer, com piscinas para adultos e crianças, a fim de proporcionar
                        a seus hóspedes momentos de pura tranquilidade, relaxamento e descontração. Próximo à área da
                        piscina, há ainda uma area de jardim, constituindo-se num verdadeiro oásis e trazendo aos olhos
                        um momento de contemplação. para realizar reuniões, congressos, festas, almoços, jantares e
                        muito mais.</p>
                </div>
            </article>
            <!-- end of single service -->
            <!-- single service -->
            <article class="service">
                <div class="service-icon">
                    <span>
                        <i class="fas fa-broom"></i>
                    </span>
                </div>
                <div class="service-content">
                    <h2>Serviço de Limpeza</h2>
                    <p>Pensando na segurança de todos, O Hotel Barril do Chaves adotou medidas de higiene e
                        protocolos de segurança, que além de promover o bem estar comum, contribui também
                        para evitar a propagação do Coronavírus(Covid-19).</p>
                </div>
            </article>
            <!-- end of single service -->
            <!-- single service -->
            <article class="service">
                <div class="service-icon">
                    <span>
                        <i class="fas fa-door-closed"></i>
                    </span>
                </div>
                <div class="service-content">
                    <h2>Segurança da sala</h2>
                    <p>Os hóspedes podem ficar tranquilos em relação à segurança: o local dispõe de extintor
                        de incêndio. Câmera de vigilância 24 horas, Saída de emergência Telefones disponíveis
                        para ligações emergencias.</p>
                </div>
            </article>
            <!-- end of single service -->
        </div>
    </section>

    <section class="rooms sec-width" id="quartos">
        <div class="title">
            <h2>Quartos</h2>
        </div>
        <div class="rooms-container">
            <!-- single room -->
            <article class="room">
                <div class="room-image">
                    <img src="/img/quarto_1.jpg" alt="room image">
                </div>
                <div class="room-text">
                    <h3>Quarto 71</h3>
                    <ul>
                        <li>
                            <i class="fas fa-arrow-alt-circle-right"></i>
                            28 Metros quadrados.
                        </li>
                        <li>
                            <i class="fas fa-arrow-alt-circle-right"></i>
                            TV Smart 32 Polegadas.
                        </li>
                        <li>
                            <i class="fas fa-arrow-alt-circle-right"></i>
                            Aquecedor de ambiente.
                        </li>
                    </ul>
                    <p>A Suíte Bruxa do 71 possui 28 metros quadrados e dispõe das seguintes comodidades: Cama
                        queen-size com lençol térmico digital; Banheira de hidromassagem com cromoterapia;
                        Aquecedor de ambiente; Cafeteira Nespresso; Smart TV 32; Frigobar; Wifi; Secador de cabelo;
                        Aquecedor de toalhas; Ducha higiênica; Chuveiro pressurizado a gás; Amenidades de banho
                        personalizadas (sabonete, shampoo, condicionador e sais de banho)</p>
                    <p class="rate">
                        <span>R$ 149.00 /</span> Por Noite
                    </p>
                    <button type="button" class="btn" data-id="71" data-nome="Quarto 71" data-toggle="modal" data-target="#modalQuarto71">Reservar
                        agora</button>
                </div>
            </article>
            <!-- end of single room -->
            <!-- single room -->
            <article class="room">
                <div class="room-image">
                    <img src="/img/quarto_2.jpg" alt="room image">
                </div>
                <div class="room-text">
                    <h3>Quarto 14</h3>
                    <ul>
                        <li>
                            <i class="fas fa-arrow-alt-circle-right"></i>
                            35 Metros quadrados.
                        </li>
                        <li>
                            <i class="fas fa-arrow-alt-circle-right"></i>
                            TV Smart 43 Polegadas.
                        </li>
                        <li>
                            <i class="fas fa-arrow-alt-circle-right"></i>
                            Aquecedor de ambiente.
                        </li>
                    </ul>
                    <p>A Suíte Olmeca possui 35 metros quadrados e dispõe das seguintes comodidades: Cama kingsize com lençol térmico digital; Banheira de hidromassagem; Lareira ecológica; Cafeteira
                        Nespresso; Smart TV 43; Frigobar; Wifi; Secador de cabelo; Ducha higiênica; Chuveiro
                        pressurizado a gás; Amenidades de banho personalizadas (sabonete, shampoo, condicionador e
                        sais de banho); Descontos exclusivos em restaurantes Barril do Chaves
                        </p>
                    <p class="rate">
                        <span>R$ 199.00 /</span> Por Noite
                    </p>
                    <button type="button" class="btn" data-id="14" data-nome="Quarto 14" data-toggle="modal" data-target="#modalQuarto14">Reservar
                        agora</button>
                </div>
            </article>
            <!-- end of single room -->
            <!-- single room -->
            <article class="room">
                <div class="room-image">
                    <img src="/img/quarto_3.jpg" alt="room image">
                </div>
                <div class="room-text">
                    <h3>Quarto 72</h3>
                    <ul>
                        <li>
                            <i class="fas fa-arrow-alt-circle-right"></i>
                            19 Metros quadrados.
                        </li>
                        <li>
                            <i class="fas fa-arrow-alt-circle-right"></i>
                            TV Smart 32 Polegadas.
                        </li>
                        <li>
                            <i class="fas fa-arrow-alt-circle-right"></i>
                            Aquecedor ambiente.
                        </li>
                    </ul>
                    <p>A Suíte Seu Madruga possui 19 metros quadrados e dispõe das seguintes comodidades:
                        Cama queen-size com lençol térmico digital; Vista panorâmica; Aquecedor de
                        ambiente; Cafeteira Nespresso; Smart TV 32; Frigobar; Wifi; Secador de cabelo; Bidê;
                        Chuveiro pressurizado a gás; Amenidades de banho personalizadas (sabonete, shampoo,
                        condicionador e sais de banho)
                        </p>
                    <p class="rate">
                        <span>R$ 99.00 /</span> Por Noite
                    </p>
                    <button type="button" class="btn" data-id="72" data-nome="Quarto 72" data-toggle="modal" data-target="#modalQuarto72">Reservar
                        agora</button>
                </div>
            </article>
            <!-- end of single room -->
        </div>
    </section>


    <section class="customers" id="depoimentos">
        <div class="sec-width">
            <div class="title">
                <h2>Depoimentos</h2>
            </div>
            <div class="customers-container">
                <!-- single customer -->
                <div class="customer">
                    <div class="rating">
                        <span><i class="fas fa-star"></i></span>
                        <span><i class="fas fa-star"></i></span>
                        <span><i class="fas fa-star"></i></span>
                        <span><i class="fas fa-star"></i></span>
                        <span><i class="far fa-star"></i></span>
                    </div>
                    <h3>Confortável</h3>
                    <p>Além de confortável, possuí ótimos serviços, área de lazer traz um bom relaxamento
                        apenas um detalhe na qual não gostei, não pude levar comigo meu cachorro satanás, por
                        conta disso tive que dar 4 estrelas, mas na próxima oportunidade espero poder trazer
                        meu cachorro. Obrigada!</p>
                    <img src="/img/cliente_1.jpg" alt="customer image">
                    <span>Dona Clotilde, Rio de Janeiro</span>
                </div>
                <!-- end of single customer -->
                <!-- single customer -->
                <div class="customer">
                    <div class="rating">
                        <span><i class="fas fa-star"></i></span>
                        <span><i class="fas fa-star"></i></span>
                        <span><i class="fas fa-star"></i></span>
                        <span><i class="fas fa-star"></i></span>
                        <span><i class="fas fa-star"></i></span>
                    </div>
                    <h3>Eu amei!!!</h3>
                    <p>Eu e o Professor Girafales amamos nos hospedar no Hotel Barríl do Chaves, foi uma lua
                        de mel melhor ainda do que o esperado, a área de lazer é um lugar inesquecível, o
                        quarto é perfeito e completo, já quero voltar, todos estão de parabéns, cada momento foi
                        lindo! Hotel 5 estrelas!
                        </p>
                    <img src="/img/cliente_2.jpg" alt="customer image">
                    <span>Dona Florinda, Manaus</span>
                </div>
                <!-- end of single customer -->
                <!-- single customer -->
                <div class="customer">
                    <div class="rating">
                        <span><i class="fas fa-star"></i></span>
                        <span><i class="fas fa-star"></i></span>
                        <span><i class="fas fa-star"></i></span>
                        <span><i class="fas fa-star"></i></span>
                        <span><i class="fas fa-star"></i></span>
                    </div>
                    <h3>Gostei da área de Lazer</h3>
                    <p>Muitos banhos de piscina, muitas mulheres bonitas, formosas, o melhor lugar para
                        passar as férias, agora só preciso saber como vou fazer para pagar esses 14 mêses de
                        aluguel.
                        </p>
                    <img src="/img/cliente_3.jpg" alt="customer image">
                    <span>Seu Madruga, São Paulo</span>
                </div>
                <!-- end of single customer -->
            </div>
        </div>
    </section>
    <!-- end of body content -->

    <!-- footer -->
    <footer class="footer">
        <div class="footer-container">
            <div>
                <h2>Sobre nós</h2>
                <p>A história começa quando Tiago Izel fã de chaves decide criar um hotel inspirado no
                    seriado, e desde então o Hotel Barril do Chaves vem trazendo além de momentos felizes
                    e conforto, muita nostalgia.</p>
                
            </div>

            <div>
                <h2> Redes sociais </h2>
                <ul class="social-icons">
                    <li class="flex">
                        <a href="https://twitter.com/HBC_CHAVES" target="_blank">
                            <i class="fa fa-twitter fa-2x"></i>
                        </a>
                    </li>
                    <li class="flex">
                        <a href="https://www.facebook.com/Hotel-Barril-do-Chaves-101243732416230/" target="_blank">
                            <i class="fa fa-facebook fa-2x"></i>
                        </a>
                    </li>
                    <li class="flex">
                        <a href="https://instagram.com/hbc_chaves" target="_blank">
                            <i class="fa fa-instagram fa-2x"></i>
                        </a>
                    </li>
                </ul>
            </div>

            <div>
                <h2> Localização </h2>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3984.025376314282!2d-59.98183458524278!3d-3.0879004977513915!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x926c1b20a12d4567%3A0x9c1475fc6aded0e9!2sR.%20Ouro%20Preto%2C%20632%20-%20Coroado%2C%20Manaus%20-%20AM%2C%2069080-430!5e0!3m2!1spt-BR!2sbr!4v1638904514658!5m2!1spt-BR!2sbr" width="300" height="200" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>

            <div>
                <h2>Contato</h2>
                <div class="contact-item">
                    <span>
                        <i class="fas fa-map-marker-alt"></i>
                    </span>
                    <span>
                        Rua Ouro Preto 632 Coroado Manaus, Brasil
                    </span>
                </div>
                <div class="contact-item">
                    <span>
                        <i class="fas fa-phone-alt"></i>
                    </span>
                    <span>
                        +55 92981726929
                    </span>
                </div>
                <div class="contact-item">
                    <span>
                        <i class="fas fa-envelope"></i>
                    </span>
                    <span>
                        hotelbarrildochaves@gmail.com
                    </span>
                </div>
            </div>
        </div>
    </footer>
    <!-- end of footer -->

    <!-- Modal -->
    <div class="modal fade" id="modalQuarto71" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Reservar Quarto</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form action="/create-reserva" method="post">
                <div class="modal-body">
                    <input type="hidden" value="2" name="id_hospede" />
                    <input type="hidden" value="1" name="id_quarto" />
                    <div class="form-group">
                        <label for="checkin-date">Data de Cheek in: </label>
                        <input type="date" class="form-control" id="chekin-date" name="data_inicio">
                    </div>
                    <div class="form-group">
                        <label for="checkout-date">Data de Check Out: </label>
                        <input type="date" class="form-control" id="chekout-date" name="data_fim">
                    </div>
                    <div class="form-group">
                        <label for="adultos">Adultos: </label>
                        <input type="number" min="1" value="1" class="form-control" id="adultos" name="qtd_adultos">
                    </div>
                    <div class="form-group">
                        <label for="criancas">Crianças: </label>
                        <input type="number" min="0" value="0" class="form-control" id="criancas" name="qtd_criancas">
                    </div>
                    <div class="form-group">
                        <label for="observacao">Observação: </label>
                        <textarea type="text" rows="4" cols="50" class="form-control" id="observacao" name="observacao"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-primary">Confirmar</button>
                </div>
            </form>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="modalQuarto72" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Reservar Quarto</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form action="/create-reserva" method="post">
                <div class="modal-body">
                    <input type="hidden" value="3" name="id_hospede" />
                    <input type="hidden" value="3" name="id_quarto" />
                    <div class="form-group">
                        <label for="checkin-date">Data de Cheek in: </label>
                        <input type="date" class="form-control" id="chekin-date" name="data_inicio">
                    </div>
                    <div class="form-group">
                        <label for="checkout-date">Data de Check Out: </label>
                        <input type="date" class="form-control" id="chekout-date" name="data_fim">
                    </div>
                    <div class="form-group">
                        <label for="adultos">Adultos: </label>
                        <input type="number" min="1" value="1" class="form-control" id="adultos" name="qtd_adultos">
                    </div>
                    <div class="form-group">
                        <label for="criancas">Crianças: </label>
                        <input type="number" min="0" value="0" class="form-control" id="criancas" name="qtd_criancas">
                    </div>
                    <div class="form-group">
                        <label for="observacao">Observação: </label>
                        <textarea type="text" rows="4" cols="50" class="form-control" id="observacao" name="observacao"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-primary">Confirmar</button>
                </div>
            </form>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="modalQuarto14" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Reservar Quarto</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form action="/create-reserva" method="post">
                <div class="modal-body">
                    <input type="hidden" value="1" name="id_hospede" />
                    <input type="hidden" value="2" name="id_quarto" />
                    <div class="form-group">
                        <label for="checkin-date">Data de Cheek in: </label>
                        <input type="date" class="form-control" id="chekin-date" name="data_inicio">
                    </div>
                    <div class="form-group">
                        <label for="checkout-date">Data de Check Out: </label>
                        <input type="date" class="form-control" id="chekout-date" name="data_fim">
                    </div>
                    <div class="form-group">
                        <label for="adultos">Adultos: </label>
                        <input type="number" min="1" value="1" class="form-control" id="adultos" name="qtd_adultos">
                    </div>
                    <div class="form-group">
                        <label for="criancas">Crianças: </label>
                        <input type="number" min="0" value="0" class="form-control" id="criancas" name="qtd_criancas">
                    </div>
                    <div class="form-group">
                        <label for="observacao">Observação: </label>
                        <textarea type="text" rows="4" cols="50" class="form-control" id="observacao" name="observacao"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-primary">Confirmar</button>
                </div>
            </form>
            </div>
        </div>
    </div>

        <!-- Modal Cadastro Hospede -->
        <div class="modal fade" id="modalCadastroHospede" tabindex="-1" aria-labelledby="cadastroHospedeLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="cadastroHospedeLabel">Criar conta</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form action="/create-hospede" method="post">
                        <div class="modal-body">
                            <input type="hidden" value="2" name="id_hospede">
                            <input type="hidden" value="3" name="id_quarto">
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="inputNome">Nome</label>
                                    <input type="text" class="form-control" id="inputNome" name="nome" />
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="inputEmail">Email</label>
                                    <input type="text" class="form-control" id="inputEmail" name="email" />
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="inputSexo">Sexo</label>
                                    <select class="form-control" name="sexo">
                                        <option value="M">Masculino</option>
                                        <option value="F">Feminino</option>
                                    </select>
                                    <!-- <input type="text" class="form-control" id="inputSexo" name="sexo" /> -->
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="inputCpf">CPF</label>
                                    <input type="text" class="form-control" id="inputCpf" name="cpf" />
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="inputTelefone">Telefone</label>
                                    <input type="text" class="form-control" id="inputTelefone" name="telefone" />
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="inputDataNascimento">Data Nascimento</label>
                                    <input type="date" class="form-control" id="inputDataNascimento" name="data_nascimento" />
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="inputAddress">Endereço</label>
                                <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St" name="endereco" />
                            </div>

                        </div>
                        <div class="modal-footer">
                            <a href="/" class="btn btn-secondary" data-dismiss="modal">Cancelar</a>
                            <button type="submit" class="btn btn-primary">Save changes</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF"
            crossorigin="anonymous"></script>
        <script src="/js/script.js"></script>
</body>

</html>